* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write your CSS code here */
.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  border: 5px solid #6d396b;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80vh;
}

.routes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
